@import "../../styles.scss";

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid $blueDisney;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    background-color: $white;
    .character{
        display: flex;
        flex-direction: column;
        .characterName{
            font-family: 'Disney';
            margin: auto;
            align-items: center;
            align-self: center;
        }
    }
    .characterInfo{
        font-family: 'Disney';
        .films{
            display: flex;
            flex-direction: column;
            align-items: center;
            .filmtitle{
                font-size: x-large;
                font-family: 'Disney';
            }
        }
    }
    .characterImage{
        @include media-mobile(){
            width: 100%;
        }
    }
 
}
