@import '../../styles.scss';

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid $blueDisney;
  border-radius: 20px;
  margin: 20px auto;
  width: 60%;
  background-color: $white;
  opacity: 0.9;

  .character {
    display: flex;
    flex-direction: column;
    .characterName {
      font-family: 'Disney';
      margin: auto;
    }
  }

  .characterInfo {
    font-family: 'Disney';

    .films {
      display: flex;
      flex-direction: column;
      align-items: center;

      .filmtitle {
        font-size: x-large;
        font-family: 'Disney';
      }
    }
  }

  .characterImage {
    @include media-mobile() {
      width: 100%;
    }
    filter: blur(0);
  }
}

.contenedor:hover {
  opacity: 1;
}
