@import '../../styles.scss';

.searchBarContainer {
  display: flex;
  align-items: center;
  margin: 0;
  // min-width: 210px;
  align-self: center;
}

.search {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  .searchIcon {
    height: 30px;
  }
}

.searchbar-input {
  border: none;
  outline: none;
  height: 100%;
  font-family: 'Disney2';
  padding-left: 0.5rem;
  border-radius: 5px;
}

.searchBarContainer {
  height: 2rem;
}
