@import '../../styles.scss';

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid $blueDisney;
  border-radius: 20px;
  margin: 20px auto;
  width: 60%;
  background-color: $white;
  opacity: 1;

  .character {
    display: flex;
    flex-direction: column;
    .characterName {
      font-family: 'Disney';
      margin: auto;
    }
  }

  .characterImageGame {
    @include media-mobile() {
      width: 100%;
    }
    filter: blur(5px);
  }
  .mensaje {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .error {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Disney2';
  }
  
  .acierto {
    background-color: #36af36fd;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Disney2';
  }
  .gameText{
    margin-top: 55px;
    border: none;
    outline: none;
    font-family: 'Disney2';
    padding-left: 50px;
  }
}
